<body>
    <header>
            <div class="burger">
                <span>MENU</span>
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <nav>
                
                <ul class="nav-links">
                    <div class="eyes">
                        <div class="eye eye-left">
                            <div class="ball"></div>
                        </div>           
                        <div class="eye eye-right">
                            <div class="ball"></div>
                        </div>
                    </div>
    
                    <li><a href="list.html">전체보기</a></li>                        
                    <li><a href="mypage.html">나의 페이지</a></li>                        
                    <li><a href="rank.html">Dang's award</a></li>                        
                    <li><a href="apply.html">설문조사</a></li>
                </ul>
            </nav>
        </header>
            
            
        <div class="all-sections hideForNav">

           <img class="forpadding" src="https://i.pinimg.com/564x/33/4c/eb/334ceb3219dbc11da3b2859d389c873d.jpg" alt="" width="300px">

            <section class="home-intro">
                <div class="home-text">
                    <h2>상품 상세정보</h2>
                </div>
            </section>
            <div class="detail_layout">
            <img src="https://shopping-phinf.pstatic.net/main_5710511/5710511711.20181030163316.jpg?type=f300" alt="제품 이미지" width="500px"> </img>
            </div>
            <div class="detail_layout">
                    <h3> 건강백서 - 건강한 장 </h3><br>
                    <h5> 카테고리 : 제품카테고리</h5><br>
                    <h5> 판매가 : 29000원</h5><br>
                    <a href="https://search.shopping.naver.com/search/all.nhn?query=%EA%B0%95%EC%95%84%EC%A7%80+%EC%82%AC%EB%A3%8C&cat_id=&frm=NVSHATC"><h5> 판매처 바로가기 </h5></a><br>
                    <h5> 성분 등급 : A</h5><br>
                    <h5> 리뷰수 : 29 </h5><br>
                    <h5> 평점 평균 : 4.7/5 </h5><br>
            </div>
        </div>
          
</body>

