
<body>
    
    <section class="ranking">
        <h1 class="rankingtitle">댕's award for best dog food!</h1>
        
        <div class="insideranking">
            
            <div class="medal">
                <img width="100px" src="/assets/silver.png" alt="">
                <div><img  src="https://shopping-phinf.pstatic.net/main_5677880/5677880717.20191113154146.jpg?type=f300" alt=""></div>
                <div>
                    <p>
                        가성비 끝판왕
                        소화가 어려운 강아지에게 적합
                        기호성 최고<br>
                        29900원~
                    </p>
                </div>
                
            </div>
            <div class="medal">
                <img width="105px" src="/assets/gold.png" alt="">
                <div><img  src="https://shopping-phinf.pstatic.net/main_1232582/12325828530.20170922174035.jpg?type=f300" alt=""></div>
                <div>
                    <p>
                        눈물자국 제거에 탁월,
                        피부병 완화
                        장 건강에 효과적<br>
                        19000원~
                    </p>
                </div>
            </div>
            <div class="medal">
                <img width="100px" src="/assets/bronze.png" alt="">
                <div><img  src="https://shopping-phinf.pstatic.net/main_2088149/20881494475.20190916110231.jpg?type=f300" alt=""></div>
                <div>
                    <p>
                        재구매율 1위
                        입소문 제품
                        강아지 견종별 다양한 종류의 사료<br>
                        25000원~
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>